In [1]:
a=[]
type(a)

list

In [3]:
a=[23,45,67,78]
a

[23, 45, 67, 78]

In [5]:
a[2]

67

In [7]:
a

[23, 45, 67, 78]

In [9]:
a[1]=100
a

[23, 100, 67, 78]

In [11]:
a

[23, 100, 67, 78]

In [13]:
# append()
# insert()
# extend()

In [15]:
a

[23, 100, 67, 78]

In [17]:
print(a)  # 23 100 67 78
a.append(50)
print(a)   # 23 100 67 78 50

[23, 100, 67, 78]
[23, 100, 67, 78, 50]

In [19]:
print(a)  #  23, 100, 67,78, 50
b=[34,56,89,67] 
a.append(b) 
print(a)    #  23,100,67,78,50, 34,56,89,67

[23, 100, 67, 78, 50]
[23, 100, 67, 78, 50, [34, 56, 89, 67]]

In [25]:
print(a[4])  #
print(a[5])
print(a[5][0])

50
[34, 56, 89, 67]
56

In [27]:
# 1. List is a data structure in python
# 2. List is mutable and it allows duplicate values
# 3. Append() method is used to append the values to existing list
# 4. using append method we can add single element or multiple elements
# 5. List follows indexing order.

In [31]:
# append()
# insert()
a=[23,45,77,99,11,43,66]
a

[23, 45, 77, 99, 11, 43, 66]

In [33]:
print(a)
a.insert(1,33)
print(a)

[23, 45, 77, 99, 11, 43, 66]
[23, 33, 45, 77, 99, 11, 43, 66]

In [37]:
print(a)
b=[10,20,30]
a.insert(2,b)
print(a)
print(a[2])

[23, 33, [10, 20, 30], 45, 77, 99, 11, 43, 66]
[23, 33, [10, 20, 30], [10, 20, 30], 45, 77, 99, 11, 43, 66]
[10, 20, 30]

In [41]:
# append() 
# insert()
# extend()
a=[23,45,77,99,11,43,66]
print(a)
b=[10,20,30]
a.extend(b)
print(a)

[23, 45, 77, 99, 11, 43, 66]
[23, 45, 77, 99, 11, 43, 66, 10, 20, 30]

In [43]:
# append(): it is used to add element in a end of list
#   it provides single index position for multiple values also 
# insert() : it is used to insert an element in a specific index
# extend() : it is used to add list of elements to exisiting list.
#     it provides separate index postion for each value

In [45]:
# remove()
# pop()
# pop(index)
# clear()

list=[34,56,67,89,10]
print(list)
list.remove(67)
print(list)

[34, 56, 67, 89, 10]
[34, 56, 89, 10]

In [47]:
# remove()
# pop()
# pop(index)
# clear()

list=[34,56,67,89,10]
print(list)
list.pop()
print(list)

[34, 56, 67, 89, 10]
[34, 56, 67, 89]

In [49]:
# remove()
# pop()
# pop(index)
# clear()

list=[34,56,67,89,10]
print(list)
list.pop(1)
print(list)

[34, 56, 67, 89, 10]
[34, 67, 89, 10]

In [59]:
# Sort
list=[34,56,67,89,10]
print(list)
list.sort()
print(list)
list.sort(reverse=True)
print(list)

[34, 56, 67, 89, 10]
[10, 34, 56, 67, 89]
[89, 67, 56, 34, 10]

In [61]:
list=[34,56,67,89,10]
list1=list.copy()
print(list)
print(list1)
list1.append(100)
print(list)
print(list1)

[34, 56, 67, 89, 10]
[34, 56, 67, 89, 10]
[34, 56, 67, 89, 10]
[34, 56, 67, 89, 10, 100]

In [65]:
list=[34,56,67,89,10,10,34,10]
print(list.index(56))
print(list.count(10))

1
3

List operations:
1. append()
2. insert()
3. extend()
4. remove()
5. pop()
6. pop(index)
7. clear()
8. copy()
9. index()
10. sort()
11. reverse()
12. count()
13. max(), min(), sum()

In [70]:
# Write a program to print even numbers in a given list
a=[23,78,45,67,71,90]
for i in a:
    print(i,end=" ")

23 78 45 67 71 90

In [72]:
a=[23,78,45,67,71,90]
for i in a:
    if i%2==0:
        print(i,end=" ")

78 90

In [74]:
# Write a program to print prime numbers in a given list
# Write a program to print second max element in a given list

# Tuple:
  -- min()
  -- max()
  -- count()
  -- sum()
  -- slicing

In [94]:
list=[34,56,67,78,32,90]

for i in list:
    if i%2==0:
        print(i, end=" ")

34 56 78 32 90

In [128]:
list=[34,56,67,78,32,90,11,13,17]
fact=0
for i in list:
    fact=0
    for j in range(1, (i+1)):
        if i%j==0:
            fact=fact+1
    if fact==2:
        print(i, end=" ")

67 11 13 17

In [132]:
list=[34,56,67,78,32,90,11,13,17]
list.sort(reverse=True)
print(list[1])

78

In [134]:
# Write a program to find number of words in a given string
# input : Hi hello this is Nagul
# Eouput: 5

In [140]:
str="Hi hello this is Nagul"
words=str.split(" ")
print(type(words))
print(words[2])
print("Number of words :",len(words))

<class 'list'>
this
Number of words : 5

In [148]:
# Write a program to find number of characters in each word in a given setnece
# input : Hi hello this is Nagul
#output:
#   Hi  -- 2
#   hello  - 5
#   this  -- 4
#   is    - 2
#   Nagul  - 5

str="Hi56 hello@ this is Nagul"
words=str.split(" ")
for word in words:
    print(word," -- ", len(word))

Hi56  --  4
hello@  --  6
this  --  4
is  --  2
Nagul  --  5

In [150]:
""" Write a logic to find 
  no.of alphabets 
  no.of digits
  no.of special characters
  in each word of a given sentence

input: Hi12 Hello$ This@ is Nagul7
output: 
   Hi12: alphabets: 2
         digit    : 2
         special chars: 0
   Hello$: alphabets: 5
           digits: 0
           special chars: 1
         
 
  """

' Write a logic to find \n  no.of alphabets \n  no.of digits\n  no.of special characters\n  in each word of a given sentence\n\ninput: Hi12 Hello$ This@ is Nagul7\noutput: \n   Hi12: alphabets: 2\n         digit    : 2\n         special chars: 0\n   Hello$: alphabets: 5\n           digits: 0\n           special chars: 1\n         \n \n  '

In [152]:
#  Tuple:  min() -- max() -- count() -- sum() -- slicing

In [160]:
#1. Tuple allows duplicate values
#2. it follows the indexing order
#3. it is immutable

a=(23,45,56,89)
print(a)
print(a[1])
print("Max : ", max(a))
print("Min : ", min(a))
print("Total: ",sum(a))
print("No.of values :",len(a));

a[1]=100  # Error because tuple is immutable
a[:]
a[2:]
a[:5]
a[-1]
a[::]
a[::-1]

(23, 45, 56, 89)
45
Max :  89
Min :  23
Total:  213
No.of values : 4